@media (max-width: 680px) {
  .profile-picture {
    width: 100px;
  }

body {
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

.container {
  flex: 1;
  max-width: 700px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  color: rgba(238, 198, 201, 255);
  font-family: "Times New Roman", Times, serif;
}
h2 {
  text-align: left;
  color: rgba(238, 198, 201, 255);
  font-family: "Times New Roman", Times, serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.sidebar {
  width: 250px;
  background-color: rgba(245, 246, 246, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 16px;
}

.profile-picture {
  width: 100%;
  height: auto;
}
.footer-top {
  background-color: rgba(238, 198, 201, 255);
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.footer-bottom {
  background-color: rgba(238, 198, 201, 255);
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
